* {
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #353a40;
    display: flex;
    height: 5em;
}

.nav_link {
    color: #969da2;
    text-decoration: none;
    margin-right: 12px;
}

.nav_link:hover,
.nav_link:active {
    color: #fffffd;
}

.nav_link-last{
    color: #30a347;
    text-decoration: none;
}

.nav_link-last:hover,
.nav_link-last:active {
    color: #fffffd;
}

.navbar-nav{
    margin-left: 18em;
    background-color: #353a40;
}

.navbar-brand {
    margin-left: 4em;
    display: flex;
    
}

.logo-title {
    color: #fffffd;
    margin-top: 15px;
    font-size: 1em;
}

.first-section {
    height: 100vh;
    width: 100%;
    background-image: url(/img/ba1.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 8em;
    
}

.first-section-content {
    color: white;
    background-color: transparent;
    width: 100%;
    height: 40%;
    text-align: right;
    
}

.second-section{
    height: 110vh;
}

.first-p {
    text-align: center;
    font-size: 0.8em;
}

.first-p span{
    display: block;
    font-weight: 500;
    font-size: 2em;
}

.cards-container {
    display: flex;
    justify-content: center;
}

.card {
    margin: 0 1em;

}

.btn-group button {
    text-align: center;
    font-size: 0.8em;
    font-weight: 500;
    height: 2.2em;
    width: 6.6em;
    text-align: center;
}

.third-section {
    height: 80vh;
    width: 100%;
    background-color: #969da2;
}

.fondo1 {
    background-image: url(/img/honolulu.jpg);
    background-position: center;
    background-size: cover;
    height: 25em;
}

.fourth-section {
    height: 100vh;
    width: 100%;
    background-color: beige;
}